<app-hello-world></app-hello-world>
<app-button></app-button>

<app-card></app-card>

<app-variable></app-variable>

<app-ng-class></app-ng-class>

<app-ng-class-fruits></app-ng-class-fruits>

<app-input-button [text]="'Cancel'"></app-input-button>
<app-input-button [text]="'Send'"></app-input-button>
<app-input-button [text]="'click me'"></app-input-button>
<app-input-button></app-input-button>

<app-input-img [imgAlt]="'Cat image'" [imgSrc]="'https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/18/29/18-29-101L/Cat-Laura-Graves-Poster.jpg'"></app-input-img>

<app-ng-style></app-ng-style>

<app-ng-style-ball [color]="'#ddf3f5'"></app-ng-style-ball>
<app-ng-style-ball [color]="'#a6dcef'"></app-ng-style-ball>
<app-ng-style-ball [color]="'#f2aaaa'"></app-ng-style-ball>
<app-ng-style-ball [color]="'#e36387'"></app-ng-style-ball>

<app-input-person [infoPerson]="{name: 'Abel Cabeza Román', age: 99, role: 'Profesor'}"></app-input-person>

<app-ng-if></app-ng-if>
<app-ng-if-over></app-ng-if-over>

