<app-hello-world></app-hello-world>
<app-button></app-button>
<app-card></app-card>

<div>
  <p>Yo soy {{name}}</p>
  <img src="{{imgUrl}}" alt="">
</div>

<app-input-button></app-input-button>
<app-input-button [text]="'Cancel'"></app-input-button>
<app-input-button [text]="'Enviar'"></app-input-button>
<app-input-button [text]="6"></app-input-button>
<app-input-button [text]="true"></app-input-button>
<app-input-button [text]="name"></app-input-button>

<app-input-hello-world [name]="'Abel'"></app-input-hello-world>
<app-input-hello-world [name]="'Gabriel'"></app-input-hello-world>
<app-input-hello-world [name]="'Samantha'"></app-input-hello-world>

<app-input-card [card]="card1"></app-input-card>
<app-input-card [card]="card2"></app-input-card>

<app-ng-if></app-ng-if>

<!-- EXERCISE 4 -->

<app-over-age [person]="{name: 'Sara', age: 19}"></app-over-age>
<app-over-age [person]="{name: 'Lorenzo', age: 16}"></app-over-age>
<app-over-age [person]="{name: 'Luffy', age: 25}"></app-over-age>

<!-- FIN EXERCISE 4 -->

<app-ng-for></app-ng-for>


<!-- EXERCISE 5 -->

<app-countries-list [countries]="['Japón', 'España', 'Italia', 'Venezuela', 'Indonesia']"></app-countries-list>

<!-- FIN EXERCISE 5 -->

<!-- EXERCISE 6 -->

<app-countries-filtered-list [countries]="countries"></app-countries-filtered-list>

<!-- FIN EXERCISE 6 -->
